*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
    background: var(--black);
    min-height: 100vh;
    overflow: hidden;
}

.stars-container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.star {
    position: absolute;
    top: 16%;
    color: var(--white);
    animation: animate 5s linear forwards;
}

.star::before
{
    content: '\f005';
    text-shadow: 0 0 5px var(--white),
    0 0 20px var(--white),
    0 0 50px var(--white);
}

@keyframes animate 
{
    0%
    {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    80%
    {
        opacity: 1;
    }
    100%
    {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

.homepage-container {
    color: var(--white);
    display: flex;
    flex-direction: column;
}

.homepage-title {
  background: linear-gradient(to bottom right,hsl(145, 51%, 73%) 10%, hsl(155, 82%, 35%) 25%, hsl(197, 55%, 51%) 75%, hsl(204, 71%, 43%) 100%);
  text-align: center;
  padding: 20px;
  font-size: 2em;
  color: var(--black);
}

.home-page-subtitle {
margin: auto;
max-width: 700px;
text-align: center;
}
